name: project-management
services:
  db:
    image: postgres:17-bookworm
    container_name: pm-db-container
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d project-management"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  pgdata:
  pgdumps: